In [1]:
import pandas as pd
import os

os.chdir('C:/Documents/COURS/M2/NLP/SQLite_doc')
# Import data
df = pd.read_csv('apec.csv')

In [2]:
df.head()

,title,type_job,salary,compagny,location,description,source
0,Data scientist,1 CDD de 11 mois,A négocier,Levio,Luxembourg,La division « Database Administration & Data M...,apec
1,Data scientist,1 CDI,40 - 80 k€ brut annuel,LUX-ADVISORY SARL,Luxembourg,La division « Database Administration & Data M...,apec
2,Data scientist,1 CDI,30 - 56 k€ brut annuel,Kaisens data,Fontenay-sous-Bois - 94,"En tant que Data Scientist, vos missions sont ...",apec
3,Data scientist,Meudon - 92,A négocier,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
4,Data scientist,1 CDI,A partir de 50 k€ brut annuel,STORIGIN,Meudon - 92,Descriptif de mission :En tant que Data Analys...,apec

In [3]:
from SQLite import data_base

In [8]:
df2 = df[['compagny', 'type_job', 'salary']].drop_duplicates()

In [9]:
bd = data_base()


for i in list(df['salary'].unique()):
    item = (i,)
    bd.insert_salaire(item)

for i in list(df['type_job'].unique()):
    item = (i,)
    bd.insert_type_job(item)

for i in range(len(df2)):
    val_type = df2['type_job'][i]
    requete_type = f"""SELECT id_type_job FROM H_type_job WHERE type = '{val_type}'"""
    res_type = bd.req(requete= requete_type)[0][0]
    

    val_salary = df2['salary'][i]
    requete_salary = f"""SELECT id_salaire FROM H_salaire WHERE salaire = '{val_salary}'"""
    res_salary = bd.req(requete=requete_salary)[0][0]
    
    res_compagny = df2['compagny'][i]

    item = (res_type, res_salary,res_compagny)
    bd.insert_entreprise(item)

bd.commit_change()
bd.close_connection()