In [2]:
import pandas as pd
import os

os.chdir('C:/Documents/COURS/M2/NLP')
# Import data
df = pd.read_csv('apec.csv')

In [3]:
df.head()

,title,type_job,salary,compagny,location,description,source
0,Data scientist,1 CDD de 11 mois,A négocier,Levio,Luxembourg,La division « Database Administration & Data M...,apec
1,Data scientist,1 CDI,40 - 80 k€ brut annuel,LUX-ADVISORY SARL,Luxembourg,La division « Database Administration & Data M...,apec
2,Data scientist,1 CDI,30 - 56 k€ brut annuel,Kaisens data,Fontenay-sous-Bois - 94,"En tant que Data Scientist, vos missions sont ...",apec
3,Data scientist,Meudon - 92,A négocier,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
4,Data scientist,1 CDI,A partir de 50 k€ brut annuel,STORIGIN,Meudon - 92,Descriptif de mission :En tant que Data Analys...,apec

In [15]:
from SQLite import data_base

In [13]:
for i in range(len(df['salary'].unique())):
    item = (i+1, df['salary'].unique()[i])
    print(item)
    print('next')

(1, 'A négocier')
next
(2, '40 - 80 k€ brut annuel')
next
(3, '30 - 56 k€ brut annuel')
next
(4, 'A partir de 50 k€ brut annuel')
next
(5, 'A partir de 30 k€ brut annuel')
next
(6, '30 - 45 k€ brut annuel')
next
(7, 'A partir de 40 k€ brut annuel')
next
(8, '45 - 55 k€ brut annuel')
next
(9, 'A partir de 35 k€ brut annuel')
next
(10, '26 - 27 k€ brut annuel')
next
(11, '36 - 45 k€ brut annuel')
next
(12, '34 - 40 k€ brut annuel')
next

In [12]:
df

,title,type_job,salary,compagny,location,description,source
0,Data scientist,1 CDD de 11 mois,A négocier,Levio,Luxembourg,La division « Database Administration & Data M...,apec
1,Data scientist,1 CDI,40 - 80 k€ brut annuel,LUX-ADVISORY SARL,Luxembourg,La division « Database Administration & Data M...,apec
2,Data scientist,1 CDI,30 - 56 k€ brut annuel,Kaisens data,Fontenay-sous-Bois - 94,"En tant que Data Scientist, vos missions sont ...",apec
3,Data scientist,Meudon - 92,A négocier,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
4,Data scientist,1 CDI,A partir de 50 k€ brut annuel,STORIGIN,Meudon - 92,Descriptif de mission :En tant que Data Analys...,apec
5,Data scientist,1 CDI,A partir de 30 k€ brut annuel,ABG Consulting,Paris 01 - 75,"Au sein du pôle data science, vous intégrerez ...",apec
6,Data scientist,1 CDI,30 - 45 k€ brut annuel,Amiltone,Lyon 09 - 69,Vos missions ?Intégré à nos équipes sur nos pr...,apec
7,Data scientist,Montreuil - 93,A négocier,1 CDI,NaN,Dans le cadre de la réalisation de sa mission ...,apec
8,Data scientist,1 CDI,A partir de 40 k€ brut annuel,DEVOTEAM,Levallois-Perret - 92,Issu(e) d’une formation supérieure Bac +5 ou p...,apec
9,Data scientist,Meudon - 92,45 - 55 k€ brut annuel,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
10,Data scientist,1 CDI,A négocier,1G LINK,Bezons - 95,Afin de répondre aux besoins actuels de nos cl...,apec
11,Data scientist,1 CDI,A partir de 35 k€ brut annuel,PACT&GO,Toulouse - 31,Nous recherchons un(e) Data Scientist pour int...,apec
12,Data scientist,1 CDD de 11 mois,26 - 27 k€ brut annuel,Université de Bordeaux,Bordeaux - 33,Votre mission principale consiste à développer...,apec
13,Data scientist,1 CDI,A négocier,Adelyce,Labège - 31,Rejoignez notre Direction des opérationsFortes...,apec
14,Data scientist,Clermont-Ferrand - 63,36 - 45 k€ brut annuel,1 CDI,NaN,La ligne de service Consulting & Solutions d'A...,apec
15,Data scientist,1 CDI,A négocier,ILLUMO ROBOTICS,Toulouse - 31,"L’équipe R&D, pluridisciplinaire (robotique, l...",apec
16,Data scientist,Moissy-Cramayel - 77,A négocier,1 CDI,NaN,Au sein de la Direction des Bureaux d'Etudes S...,apec
17,Data scientist,1 CDI,A négocier,Pro à Pro,Montauban - 82,"Rattaché(e) au Responsable du service Data, vo...",apec
18,Data scientist,Lannion - 22,A négocier,1 CDI,NaN,Dans le cadre de la croissance de notre agence...,apec
19,Data scientist,1 CDI,34 - 40 k€ brut annuel,Inetum,Lannion - 22,Dans le cadre de la croissance de notre agence...,apec
20,Data scientist,1 CDD de 11 mois,A négocier,Levio,Luxembourg,La division « Database Administration & Data M...,apec
21,Data scientist,1 CDI,40 - 80 k€ brut annuel,LUX-ADVISORY SARL,Luxembourg,La division « Database Administration & Data M...,apec
22,Data scientist,1 CDI,30 - 56 k€ brut annuel,Kaisens data,Fontenay-sous-Bois - 94,"En tant que Data Scientist, vos missions sont ...",apec
23,Data scientist,Meudon - 92,A négocier,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
24,Data scientist,1 CDI,A partir de 50 k€ brut annuel,STORIGIN,Meudon - 92,Descriptif de mission :En tant que Data Analys...,apec
25,Data scientist,1 CDI,A partir de 30 k€ brut annuel,ABG Consulting,Paris 01 - 75,"Au sein du pôle data science, vous intégrerez ...",apec
26,Data scientist,1 CDI,30 - 45 k€ brut annuel,Amiltone,Lyon 09 - 69,Vos missions ?Intégré à nos équipes sur nos pr...,apec
27,Data scientist,Montreuil - 93,A négocier,1 CDI,NaN,Dans le cadre de la réalisation de sa mission ...,apec
28,Data scientist,1 CDI,A partir de 40 k€ brut annuel,DEVOTEAM,Levallois-Perret - 92,Issu(e) d’une formation supérieure Bac +5 ou p...,apec
29,Data scientist,Meudon - 92,45 - 55 k€ brut annuel,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
30,Data scientist,1 CDI,A négocier,1G LINK,Bezons - 95,Afin de répondre aux besoins actuels de nos cl...,apec
31,Data scientist,1 CDI,A partir de 35 k€ brut annuel,PACT&GO,Toulouse - 31,Nous recherchons un(e) Data Scientist pour int...,apec
32,Data scientist,1 CDD de 11 mois,26 - 27 k€ brut annuel,Université de Bordeaux,Bordeaux - 33,Votre mission principale consiste à développer...,apec
33,Data scientist,1 CDI,A négocier,Adelyce,Labège - 31,Rejoignez notre Direction des opérationsFortes...,apec
34,Data scientist,Clermont-Ferrand - 63,36 - 45 k€ brut annuel,1 CDI,NaN,La ligne de service Consulting & Solutions d'A...,apec
35,Data scientist,1 CDI,A négocier,ILLUMO ROBOTICS,Toulouse - 31,"L’équipe R&D, pluridisciplinaire (robotique, l...",apec
36,Data scientist,Moissy-Cramayel - 77,A négocier,1 CDI,NaN,Au sein de la Direction des Bureaux d'Etudes S...,apec
37,Data scientist,1 CDI,A négocier,Pro à Pro,Montauban - 82,"Rattaché(e) au Responsable du service Data, vo...",apec
38,Data scientist,Lannion - 22,A négocier,1 CDI,NaN,Dans le cadre de la croissance de notre agence...,apec
39,Data scientist,1 CDI,34 - 40 k€ brut annuel,Inetum,Lannion - 22,Dans le cadre de la croissance de notre agence...,apec
40,Data scientist,1 CDD de 11 mois,A négocier,Levio,Luxembourg,La division « Database Administration & Data M...,apec
41,Data scientist,1 CDI,40 - 80 k€ brut annuel,LUX-ADVISORY SARL,Luxembourg,La division « Database Administration & Data M...,apec
42,Data scientist,1 CDI,30 - 56 k€ brut annuel,Kaisens data,Fontenay-sous-Bois - 94,"En tant que Data Scientist, vos missions sont ...",apec
43,Data scientist,Meudon - 92,A négocier,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
44,Data scientist,1 CDI,A partir de 50 k€ brut annuel,STORIGIN,Meudon - 92,Descriptif de mission :En tant que Data Analys...,apec
45,Data scientist,1 CDI,A partir de 30 k€ brut annuel,ABG Consulting,Paris 01 - 75,"Au sein du pôle data science, vous intégrerez ...",apec
46,Data scientist,1 CDI,30 - 45 k€ brut annuel,Amiltone,Lyon 09 - 69,Vos missions ?Intégré à nos équipes sur nos pr...,apec
47,Data scientist,Montreuil - 93,A négocier,1 CDI,NaN,Dans le cadre de la réalisation de sa mission ...,apec
48,Data scientist,1 CDI,A partir de 40 k€ brut annuel,DEVOTEAM,Levallois-Perret - 92,Issu(e) d’une formation supérieure Bac +5 ou p...,apec
49,Data scientist,Meudon - 92,45 - 55 k€ brut annuel,1 CDI,NaN,Si pour vous faire grandir les relations humai...,apec
50,Data scientist,1 CDI,A négocier,1G LINK,Bezons - 95,Afin de répondre aux besoins actuels de nos cl...,apec
51,Data scientist,1 CDI,A partir de 35 k€ brut annuel,PACT&GO,Toulouse - 31,Nous recherchons un(e) Data Scientist pour int...,apec
52,Data scientist,1 CDD de 11 mois,26 - 27 k€ brut annuel,Université de Bordeaux,Bordeaux - 33,Votre mission principale consiste à développer...,apec
53,Data scientist,1 CDI,A négocier,Adelyce,Labège - 31,Rejoignez notre Direction des opérationsFortes...,apec
54,Data scientist,Clermont-Ferrand - 63,36 - 45 k€ brut annuel,1 CDI,NaN,La ligne de service Consulting & Solutions d'A...,apec
55,Data scientist,1 CDI,A négocier,ILLUMO ROBOTICS,Toulouse - 31,"L’équipe R&D, pluridisciplinaire (robotique, l...",apec
56,Data scientist,Moissy-Cramayel - 77,A négocier,1 CDI,NaN,Au sein de la Direction des Bureaux d'Etudes S...,apec
57,Data scientist,1 CDI,A négocier,Pro à Pro,Montauban - 82,"Rattaché(e) au Responsable du service Data, vo...",apec
58,Data scientist,Lannion - 22,A négocier,1 CDI,NaN,Dans le cadre de la croissance de notre agence...,apec
59,Data scientist,1 CDI,34 - 40 k€ brut annuel,Inetum,Lannion - 22,Dans le cadre de la croissance de notre agence...,apec

In [23]:
bd = data_base()

for i in range(len(df['salary'].unique())):
    item = (i+1, df['salary'].unique()[i])
    bd.insert_salaire(item)


bd.commit_change()
bd.close_connection()

AttributeError: 'data_base' object has no attribute 'close_connection'