In [7]:
import sqlite3
import pandas as pd
from insert_functions import *
from create_database import *

df = pd.read_csv('apec.csv')

In [ ]:
# create database 
create_database()

In [5]:
# check 
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

# get list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table in tables:
    print(table[0])

# close connection
conn.close()

H_department
sqlite_sequence
D_location
D_salary
H_type_job
D_company
D_source
D_date
D_competences
H_language
D_description
F_title

In [3]:
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

insert_observations(df, cursor)

conn.commit()
conn.close()

In [10]:
# Check
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM D_salary")

# Fetch all rows
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close the connection
conn.close()

(1, '36 - 44 k€ brut annuel')
(2, 'A négocier')
(3, '38 - 60 k€ brut annuel')
(4, 'A partir de 40 k€ brut annuel')
(5, '55 - 60 k€ brut annuel')
(6, '45 - 45 k€ brut annuel')
(7, '40 - 65 k€ brut annuel')
(8, '40 - 45 k€ brut annuel')
(9, 'A partir de 35 k€ brut annuel')
(10, '30 - 56 k€ brut annuel')
(11, '28 - 32 k€ brut annuel')