In [1]:
import sqlite3
import pandas as pd
from insert_functions import *
from create_database import *

df = pd.read_csv('apec.csv')

In [2]:
# create database 
create_database()

In [3]:
# check 
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

# get list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table in tables:
    print(table[0])

# close connection
conn.close()

H_department
sqlite_sequence
D_location
D_salary
H_type_job
D_company
D_source
D_date
D_competences
H_language
D_description
F_title

In [4]:
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

insert_observations(df, cursor)

conn.commit()
conn.close()

type_job_id_1: 1
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2
type_job_id_1: 2

In [7]:
# Check
conn = sqlite3.connect('jobs.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM H_type_job")

# Fetch all rows
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close the connection
conn.close()

(1, ' 2  CDI  ')
(2, ' 1  CDI  ')